{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            {% if product.image %}
            <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}">
            {% endif %}
            <h6>{{ product.name }}</h6>
            <p>£{{ product.price }}</p>

            <!-- JS button instead of URL reversing -->
            <button class="btn btn-outline-secondary update-cart" data-product="{{ product.id }}" data-action="add">
                Add to cart
            </button>

            <a class="btn btn-outline-success" href="{% url 'store:product_detail' product.slug %}">View</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}